HM20220420x_신기하_내 손으로 만드는 주식 로보어드바이저_IT_4팀.pdf
lucas.pdf
return_all.pkl
mdl_data.pkl
data_all_1.pkl
data_all_2.pkl
data_all_3.pkl
data_all_4.pkl
data_all_5.pkl
data_all_6.pkl
data_all_7.pkl
data_all_8.pkl
data_all_9.pkl
data_all_10.pkl
data_all_11.pkl
data_all_12.pkl
data_h1.pkl
data_h2.pkl
data_h3.pkl
data_h4.pkl
data_h5.pkl
data_h6.pkl
feature_all.pkl
stock_data_from_fdr.pkl
stock_data_from_naver.pkl